*{
    margin:0px;
    padding: 0px;;
    color:white;
    
}
/* .navbar{

    display: flex;
    
    background-color:rgb(160, 121, 61);
    padding: 0px;
   
    justify-content: center;
    border: 5px solid black;
    font-family: 'Roboto', sans-serif;
    
} */
body{
    background-color: black;
}
.items:hover{
    background-color: #bdd970;
    font-size: 1.7rem;

}
.items {
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

a{
    text-decoration: none;
   /* // color: black; */
    font-size: 1.5rem;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#register{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
    height: 500px;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 1px;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 2px solid red;
    width: 500px;
  color:black;
}
.input-items{
padding:10px;
margin:5px;
border: 2px solid red;
border-radius: 5px;
font-size: 1.2rem;
color:black;
}
.btn{
    background-color: black;
    padding: 10px 10px;
    border-radius: 5px;
    border:2px solid red;
    font-size: 1.2rem;
}
.btn:hover{
    background-color: #ba6c38;
    font-size: 1.7rem;
  
}
h1{
    margin-top:10px;
}