body{
    margin: 5px 10px;
    padding: 5px;
    font-family: sans-serif;
    background-size: cover;
    background-postion: center;
}

/* .navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    cursor: pointer;
}

.nav-list{
    width:50%;  
    list-style: none; 
    display: flex;
    align-items: center;

}
.background{
    background: rgba(64, 63, 63, 0.7) url('back.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 3px 10px;
    vertical-align: center;
}



.nav-list li{
    list-style: none;
    padding: 26px 30px;
}


.nav-list li a{
    text-decoration: none; 
    color : white;
}

.nav-list li a:hover{
    text-decoration: none; 
    color : black;
} */
.class1{
display: flexbox;
width : 370px;
height: fit-content;
box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
background: #fff;
padding: 40px;
margin: 8% auto 0;
text-align:center;
}

.formerror{
    color: red;
}
.class1 h1{
    font-size : 40px;
    color : #1c8adb;
     margin-bottom: 30px;
}

/* .forms{
    font-family: sans-serif;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
} */
/* .checkbox{
    padding: ;
} */
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.but{
   background-color: #1c8adb; 
   border-color: #1c8adb;
   border-radius: 9px;
   width: 100px;
   height: 35px;
   font-size: 17px;
   margin: 12px 10px;
}
.butt{
    background-color: #1c8adb; 
    border-color: #1c8adb;
    border-radius: 9px;
    width: 225px;
    height: 35px;
    font-size: 17px;
    margin: 20px 10px;
}
/* .check{
    
} */
input {
    writing-mode: horizontal-tb !important;
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ; */
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 10px;
    width: 100px;
    border-radius: 66px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
input.but{
    margin: 12px 10px;
    align-items: center;
}