*{
    padding:0px;
    margin:0px;
    color:white;
}
#cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
    font-size: 1.2rem;
}
body{
    background-color: black;
}
.btn{
    background-color: blue;
    padding:10px;
    border-radius:5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.btn:hover{
    padding:15px;
}
#items{
    margin-bottom: 20px;
    margin-top:20px;
}
#para{
    font-size: 1.2rem;
}